@use 'base/mixins' as m;
@use 'base/variables' as v;
.mensaje {
  margin-top: 5rem;
    .uptask {
      @include m.textoDegradado(v.$naranja);
    }

    .descripcion-pagina {
      font-weight: bold;
      
      color: v.$negro;
      &:last-of-type {
        padding-top: 13rem;
        font-size: 2.5rem;
      }
    }
}
